.graph-wrapper {
    height: 300px;
    width: 400px;
}
.graph-wrapper-imitator{
    width: 400px;
}
.report-wrapper{
    padding: 20px;
    width: 100%;
}

.reports-object-title{
    font-family: Montserrat-ExtraBold, sans-serif;
    color: #20305E;
    font-size: 36px;
    font-weight: bold;
}

.report-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media (max-width: 1300px) {
    .graph-wrapper {
        height: 400px;
        width: 500px;
    }
    .graph-wrapper-imitator{
        width: 500px;
    }
}

@media (max-width: 1105px) {
    .graph-wrapper {
        height: 300px;
        width: 400px;
    }
    .graph-wrapper-imitator{
        width: 400px;
    }
}

@media (max-width: 850px) {
    .graph-wrapper {
        height: 300px;
        width: 370px;
        font-size: 15px;
    }

    .graph-wrapper-imitator{
        width: 370px;
    }

    .reports-object-title{
        font-size: 20px;
        text-align: center;
    }
    .report-wrapper{
        padding: 0;
    }
    .report-list {
        justify-content: center;
    }

}