.menu-item{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.demo-header{
    display: none;
    height: 60px;
    background-color: #081178;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}

.demo-header-content{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.demo-header-content-desktop{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.menu-item-link{
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.object-item {
    background-color: #ECF4FF;
    color: #20305E;
    cursor: pointer;
    width: 850px;
    padding: 20px;
    border-radius: 27px;
    margin-bottom: 10px;
}

.object-container{
    padding-left: 100px;
}
.offcanvas-menu-bar {
    width: 300px;
}
.menu-object-item {
    background-color: #ECF4FF;
    color: #20305E;
    cursor: pointer;
    border-radius: 27px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
    word-break: normal;
    white-space: normal;
    overflow-wrap: break-spaces;
    text-align: center;
}

.object-title{
    color: #20305E;
    font-weight: bold;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: Montserrat-ExtraBold, sans-serif;
}

.desktop-left-bar {
    width: 50px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #081178;
    color: white;
    align-self: stretch;
}

.epic-placeholder {
    padding: 20px;
    display: none;
}

.epic-bar{
    position: fixed;
    z-index: 100000;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: #081178;
    display: none;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.link-bar {
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-desktop{
    width: 300px;
    min-width: 300px;
}

.demo-wrapper {
    display: flex;
    flex: 1 1 auto;
}

.accordion-mobile{
    display: none;
}

.link-bar-icon{
    width: 30px;
    height: 30px;
}

@media (max-width: 850px) {
    .link-bar-desktop{
        display: none;
    }
    .object-item {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        font-size: 12px;
        word-break: normal;
        white-space: normal;
        overflow-wrap: break-spaces;
        text-align: center;
    }

    .offcanvas-menu-bar {
        width: 80vw !important;
    }

    .object-container{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .object-title {
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
    .desktop-left-bar {
        display: none;
    }
    .epic-placeholder {
        display: block;
    }
    .epic-bar{
        display: flex;
    }

    .link-bar{
        margin: 0;
    }
    .accordion-desktop{
        display: none;
    }
    .accordion-mobile{
        display: block;
    }
    .demo-header {
        display: flex;
        height: 40px;
    }
    .demo-header-content{
        display: flex;
    }
    .link-bar-icon{
        width: 20px;
        height: 20px;
    }

    .demo-header-content-desktop{
        display: none;
    }
}