.demo-spreadsheets{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
}

@media (max-width: 850px) {
    .demo-spreadsheets{
        height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);
    }
}